

        <div class="linha">
            <div class="{{local.class}}" positionX="{{local.positionX}}" positionY="{{local.positionY}}"
                ng-click="realizaJogada($event)" ng-repeat='local in linha0'>
            </div>
        </div>
        <div class="linha">
            <div class="{{local.class}}" positionX="{{local.positionX}}" positionY="{{local.positionY}}"
                ng-click="realizaJogada($event)" ng-repeat='local in linha1'>
            </div>
        </div>
        <div class="linha">
            <div class="{{local.class}}" positionX="{{local.positionX}}" positionY="{{local.positionY}}"
                ng-click="realizaJogada($event)" ng-repeat='local in linha2'>
            </div>
        </div>
<!-- 
        '<div class="linha">' +
            '<div class="{{local.class}}" positionX="{{local.positionX}}" positionY="{{local.positionY}}"' +
                            ' ng-click="$ctrl.realizaJogada($event)" ng-repeat=\'local in $ctrl.linha0\'>' +
                '</div>' +
            '</div>' +
        '<div class="linha">' +
            '<div class="{{local.class}}" positionX="{{local.positionX}}" positionY="{{local.positionY}}"' +
                            ' ng-click="$ctrl.realizaJogada($event)" ng-repeat=\'local in $ctrl.linha1\'>' +
                '</div>' +
            '</div>' +
        '<div class="linha">' +
            '<div class="{{local.class}}" positionX="{{local.positionX}}" positionY="{{local.positionY}}"' +
                            ' ng-click="$ctrl.realizaJogada($event)" ng-repeat=\'local in $ctrl.linha2\'>' +
                '</div>' +
            '</div>', -->